<<%- include('./dash') -%>
<div class="content">
        <!-- Card -->
        <article class="card card-cascade narrower">
          <!-- Card heading -->
          <section class="view gradient-card-header blue-gradient narrower py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="white-text mx-3">Student Grade Details - Semester 4</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <section class="card">
                
            <center><form method="POST">
                <label for="cdate"></label><br>
                <h5>Date</h5>
    <input type="date" name="cdate"><br>

    <label for="nos"></label><br>
    <h5>Number of Student</h5>
    <input type="text" name="nos">

    <label for="venue"></label><br>
    <h5>Venue</h5>
    <input type="text" name="venue">
    <button type="submit">OK</button>
</form></center>

</section>
</section>


</article>

<article class="card card-cascade wider">
          <section class="view gradient-card-header aqua-gradient overlay d-flex align-items-center justify-content-center pt-2 pb-2">
            
            <h4 class="card-header">Questions Forum</h4>
          </section>

          <section class="card-body">
            <section class="card-deck">
              <section class="card">
                <section class="view overlay p-3 text-center">
                  <section class="card">
                <section class="view overlay p-3 text-center">
                  <h6 class="red-text darken-4">
                    
                  </h6>
                  <p class="card-text">Data Structures</p>
                  <a class="btn btn-danger" target="_blank">What Are the advantages of usinng trees?</a>
                </section>
              </section>
          <form>
            <h6>Answer Question</h6>
          <textarea rows="2" cols="50">

          </textarea>
        </form>
          <button>Post</button>
          
            </section>
          </section>

          <section class="card-body">
            <section class="card-deck">
              <section class="card">
                <section class="view overlay p-3 text-center">
                  <section class="card">
                <section class="view overlay p-3 text-center">
                  <h6 class="red-text darken-4">
                    
                  </h6>
                  <p class="card-text">Data Structures</p>
                  <a class="btn btn-danger" target="_blank">What Are the advantages of usinng trees?</a>
                </section>
              </section>
          <form>
            <h6>Answer Question</h6>
          <textarea rows="2" cols="50">

          </textarea>
        </form>
          <button>Post</button>
          
            </section>
          </section>
        </article>
</div>







  

<%- include('./footer') -%>