<%- include('./dash') -%>

<div class="content">
        <article class="card card-cascade wider">
            <section class="view gradient-card-header aqua-gradient overlay d-flex align-items-center justify-content-center pt-2 pb-2">
                    <h2>WeLcome Faculty</h2>
                  </section>
                  
                  <section class="card-body">
                    <section class="card-deck">
                      <section class="card">
                        <section class="view overlay p-3 text-center">
                          <h6 class="deep-orange-text darken-4">
                            <i class="fas fa-file-powerpoint"></i>
                            Post Answer
                          </h6>
                          <p class="card-text">Answer Curious Students</p>
                          <a class="btn btn-deep-orange" role="button" href="/faculty/postanswer">Answer Away!</a>
                        </section>
                      </section>
                      
                      <section class="card">
                        <section class="view overlay p-3 text-center">
                          <h6 class="indigo-text darken-4">
                            <i class="fas fa-sticky-note"></i>
                            Display Questions
                          </h6>
                          <p class="card-text">Display Questions in store for!</p>
                          <a class="btn btn-indigo" role="button" href="">Read Questions</a>
                        </section>
                      </section>
                    </section>
                  </section>
                </article>
        </div>

<%- include('./footer') -%>