<<%- include('./dash') -%>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard- Faculty</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-bag f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">value x</h2>
                        <p class="m-b-0">New Posted Questions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-pink p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-comment f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">Value y</h2>
                        <p class="m-b-0">Open Forum Questions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-vector f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">Value z</h2>
                        <p class="m-b-0">Present Answered Questions</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-location-pin f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white">Value w</h2>
                        <p class="m-b-0">UnAnswered Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Card -->
        <article class="card card-cascade narrower">
          <!-- Card heading -->
          <section class="view gradient-card-header peach-gradient narrower py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="white-text mx-3">Recent Student Questions</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Subject Code</th>
                    <th class="th-md">Subject Name</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].title %></td>
             <td><%= data[i].body %></td>
           </tr>
        <% } %>
        </tbody>
        </table>
        </section>
        </section>
        </article>
    </div>


    

    <div class="row">
        <div class="col-lg-8">
            <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Message </h4>
                    </div>
                    <div class="recent-comment">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">john doe</h4>
                                <p>Cras sit amet nibh libero, in gravida nulla. </p>
                                <p class="comment-date">October 21, 2018</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">john doe</h4>
                                <p>Cras sit amet nibh libero, in gravida nulla. </p>
                                <p class="comment-date">October 21, 2018</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">john doe</h4>
                                <p>Cras sit amet nibh libero, in gravida nulla. </p>
                                <p class="comment-date">October 21, 2018</p>
                            </div>
                        </div>

                        <div class="media no-border">
                            <div class="media-left">
                                <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Mr. Michael</h4>
                                <p>Cras sit amet nibh libero, in gravida nulla. </p>
                                <div class="comment-date">October 21, 2018</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
      <h2>calender</h2>
                        <div class="year-calendar"></div>
                    </div>
                </div>
            </div>


            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Todo</h4>
                    <div class="card-content">
                        <div class="todo-list">
                            <div class="tdl-holder">
                                <div class="tdl-content">
                                    <ul>
                                        <li>
                                            <label>
                                                <input type="checkbox"><i class="bg-primary"></i><span>Build an angular app</span>
                                                <a href='#' class="ti-close"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i class="bg-success"></i><span>Creating component page</span>
                                                <a href='#' class="ti-close"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i class="bg-warning"></i><span>Follow back those who follow you</span>
                                                <a href='#' class="ti-close"></a>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i class="bg-danger"></i><span>Design One page theme</span>
                                                <a href='#' class="ti-close"></a>
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" checked><i class="bg-success"></i><span>Creating component page</span>
                                                <a href='#' class="ti-close"></a>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <input type="text" class="tdl-new form-control" placeholder="Type here">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/lib/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="js/lib/bootstrap/js/popper.min.js"></script>
<script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

<script src="js/lib/calendar-2/moment.latest.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/semantic.ui.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/prism.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/pignose.init.js"></script>
<!--Custom JavaScript -->
<script src="js/custom.min.js"></script>



<%- include('./footer') -%>