<%- include('./dash') -%>




<div class="content">
        <!-- Card -->
        <article class="card card-cascade narrower">
          <!-- Card heading -->
          <section class="view gradient-card-header blue-gradient narrower py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="white-text mx-3">Post Answer</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <form method="POST">
                <h5>Enter Student Mail</h5>
                <label for="stu"></label>
                <input type="text" name="stu">
                <h5>Enter title here</h5>
                <label for="titlea"></label>
                <input  name="titlea" type="text">
                <h5>Enter Answer Here</h5>
                <label for="postanswer"></label>
                <textarea name="postanswer" cols="50"></textarea><br>
                  <button type="submit">Post</button>
            </form>
            
        </section>
        </section>
        </article>
    </div>
<%- include('./footer') -%>