<%- include('./dash') -%>
<form method="POST" action="postanswer">
<label for="titleanswer"></label>
<h5>Enter title here</h5><input type="text" name="titleanswer"><br>
<h5>Enter Answer Here</h5>
<label for="postanswer"></label>
<textarea name="postanswer"></textarea><br>
<button type="submit">Post</button>
</form>
<%- include('./footer') -%>