<%- include('./dash') -%>
<form method="POST" action="postanswer">
<label for="postanswer"></label>
<textarea name="postanswer"></textarea>
<button type="submit">Post</button>
</form>
<%- include('./footer') -%>