<<%- include('./dash') -%>
<form method="POST">
    <h5>Enter student Id</h5>
    <label for="addstu"></label>
    <input type="text" name="addstu">
    <button type="submit">ADD</button>
</form>

<<%- include('./footer') -%>