<%- include('./header-side-footer/dash') -%>


<div class="content">
<article class="card card-cascade wider">
    <section class="view gradient-card-header aqua-gradient overlay d-flex align-items-center justify-content-center pt-2 pb-2">
            
          </section>
          
          <section class="card-body">
            <section class="card-deck">
              <section class="card">
                <section class="view overlay p-3 text-center">
                  <h6 class="deep-orange-text darken-4">
                    <i class="fas fa-file-powerpoint"></i>
                    Feedback
                  </h6>
                  <p class="card-text">Have Doubts? Want to ask a question. Click here</p>
                  <a class="btn btn-deep-orange" role="button" href="/student/feedback">Feedback</a>
                </section>
              </section>
              <section class="card">
                <section class="view overlay p-3 text-center">
                  <h6 class="darken-4">
                    <i class="fas fa-book"></i>
                    Counselling
                  </h6>
                  <p class="card-text">Share personal problems and be stress free!</p>
                  <a class="btn btn-elegant" role="button" href="/student/counselling">Counselling</a>
                </section>
              </section>
              <section class="card">
                <section class="view overlay p-3 text-center">
                  <h6 class="indigo-text darken-4">
                    <i class="fas fa-sticky-note"></i>
                    Ideation
                  </h6>
                  <p class="card-text">Came up with an idea! Share and help!</p>
                  <a class="btn btn-indigo" role="button" href="/student/ideation">Ideation</a>
                </section>
              </section>
            </section>
          </section>
        </article>
</div>

<%- include('./header-side-footer/footer') -%>