<<%- include('./dash') -%>



<h2>Faculty Details</h2>

<button class="accordion">Basic Faculty List</button>

<div class="panel">
  <div class="card">
      <div class="card-body">

          <div class="table-responsive m-t-40">
              <table id="example" class="table display table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>Faculty Name</th>
                          <th>Class Asigned</th>
                          <th>Subjects</th>
                          <th>Points Earned</th>
                          <th>Contact Email</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Faculty Name</th>
                        <th>Class Asigned</th>
                        <th>Subjects</th>
                        <th>Points Earned</th>
                        <th>Contact Email</th>
                        <th></th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr>
                          <td>Mr.Singh</td>
                          <td>FullStack 1</td>
                          <td>1</td>
                          <td>45</td>
                          <td>singh@gmail.com</td>
                          <td><button>Contact</button></td>

                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>

                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<button class="accordion">Discussions Forum List</button>
<div class="panel">
  <div class="card">
      <div class="card-body">

          <div class="table-responsive m-t-40">
              <table id="example" class="table display table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>Faculty Name</th>
                          <th>Class Asigned</th>
                          <th>Questions Answered</th>
                          <th>Questions UnAnswered</th>
                          <th>Open Forum Questions</th>
                          <th>Points Earned</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Faculty Name</th>
                        <th>Class Asigned</th>
                        <th>Questions Answered</th>
                        <th>Questions UnAnswered</th>
                        <th>Open Forum Questions</th>
                        <th>Points Earned</th>
                        <th></th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr>
                          <td>Mr.Singh</td>
                          <td>FullStack 1</td>
                          <td>4</td>
                          <td>1</td>
                          <td>3</td>
                          <td>7</td>
                          <td><button>Contact</button></td>

                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>

                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>


<button class="accordion">Assigned Task List</button>
<div class="panel">
  <div class="card">
      <div class="card-body">

          <div class="table-responsive m-t-40">
              <table id="example" class="table display table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>Faculty Name</th>
                          <th>Topic Asigned</th>
                          <th>Date</th>
                          <th>Date given by Faculty</th>
                          <th>Time Of Lec.</th>
                          <th>Status</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                        <th>Faculty Name</th>
                        <th>Topic Asigned</th>
                        <th>Date</th>
                        <th>Date given by Faculty</th>
                        <th>Time Of Lec.</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                  </tfoot>
                  <tbody>
                      <tr>
                          <td>Mr.Singh</td>
                          <td>Linked List</td>
                          <td>4/7/18</td>
                          <td>6/7/18</td>
                          <td>13:00pm</td>
                          <td>Complete</td>
                          <td><button>Contact</button><button>Alert</button></td>

                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>

                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
<li><a href="layout-blank.html">Open Forum Questions</a></li>
<li><a href="">HOD Assigned Tasks</a></li>
<li><a href="">Your To-Do List</a>



<%- include('./footer') -%>