<%- include('./dash') -%>

<form method="POST">
    <h1>Title Here</h1><br><label name="title"></label>
    <input type="text" name="title">
    <h5>Description</h5><br><label name="Desc"></label>
    <input type="text" name="Desc">
    <button type="submit">Ask</button>
</form>
<%- include('./footer') -%>