<%- include('./dash') -%>

<form method="POST">
        <h1>Id Here</h1><br><label name="ccounselId"></label>
        <input type="number" name="ccounselId">
        <h1>Title Here</h1><br><label name="ctitle"></label>
        <input type="text" name="ctitle">
        <h5>Description</h5><br><label name="cdescription"></label>
        <input type="text" name="cdescription">
        <button type="submit">Ask</button>
</form>
<%- include('./footer') -%>