
<!DOCTYPE HTML>
<html>
	<head>
		<title>T2M</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">T2M <span>Talk to me</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
          <li><a href="/student">Student</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/moderator">Moderator</a></li>
          <li><a href="/coc">COC</a></li>
          <li><a href="/hostelincharge">Hostel Incharge</a></li>
          <li><a href="/counsellor">Counsellor</a></li>
          <li><a href="/hod">Head of Department</a></li>
          <li><a href="/login">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Talk To Me.....</p>
							<h2>T2M</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Talk about studies ?</p>
							<h2>Feedback</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide03.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Any Personal Problem ?</p>
							<h2>Counselling</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Got Any IDEA ?</p>
							<h2>Ideation</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="images/slide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Talk To Me.....</p>
							<h2>T2M</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic001.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>For Any Queries?</p>
										<h2>Contact Us</h2>
									</header>
									<p> For any trouble or any kind of feedback about our site ! </p>
									<footer class="align-center">
										<a href="/contact" class="button alt">Contact Us</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic002.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Know about us ?</p>
										<h2>About Us</h2>
									</header>
									<p> You want to know about us click the icon below ! </p>
									<footer class="align-center">
										<a href="/aboutus" class="button alt">About Us</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>What's more on T2M ? </p>
						<h2>GO DOWN TO KNOW</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">To Know More Select the options !</p>
						<h2>Select What You Want !!</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="/signup"><img src="images/pic01.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="/login"><img src="images/pic02.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="/login"><img src="images/pic03.png" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="/login"><img src="images/pic04.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; All rights reserved by T2M.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>