<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>{% = title %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <!-- Main wrapper  -->
    <div id="main-wrapper">

      <div class="tab-pane" id="settings" role="tabpanel">
                                          <div class="card-body">
                                              <form class="form-horizontal form-material">
                                                  <div class="form-group">
                                                      <label class="col-md-12">First Name</label>
                                                      <div class="col-md-12">
                                                          <input type="text" placeholder="John Doe" class="form-control form-control-line">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-md-12">Last Name</label>
                                                      <div class="col-md-12">
                                                          <input type="text" placeholder="John Doe" class="form-control form-control-line">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="example-email" class="col-md-12">Email</label>
                                                      <div class="col-md-12">
                                                          <input type="email" placeholder="Zebra Theme@gmail.com" class="form-control form-control-line" name="example-email" id="example-email">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="example-email" class="col-md-12">Roll No.</label>
                                                      <div class="col-md-12">
                                                          <input type="email" placeholder="1610991035" class="form-control form-control-line" name="example-roll" >
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-md-12">Password</label>
                                                      <div class="col-md-12">
                                                          <input type="password" value="password" class="form-control form-control-line">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-md-12">Phone No</label>
                                                      <div class="col-md-12">
                                                          <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <label class="col-sm-12">Select Branch</label>
                                                      <div class="col-sm-12">
                                                          <select class="form-control form-control-line">
                                                                                          <option>CSE</option>
                                                                                          <option>ECE</option>
                                                                                          <option>ME</option>
                                                                                          <option>EE</option>

                                                                                      </select>
                                                      </div>
                                                  </div>

                                                  <div class="form-group">
                                                      <label class="col-sm-12">Select Batch</label>
                                                      <div class="col-sm-12">
                                                          <select class="form-control form-control-line">
                                                                                          <option>2015</option>
                                                                                          <option>2016</option>
                                                                                          <option>2017</option>
                                                                                          <option>2018</option>

                                                                                      </select>
                                                      </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="col-sm-12">
                                                          <button class="btn btn-success">Update Profile</button>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>

    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>

</body>

</html>
