<%- include('./dash') -%>
<form method="POST">
    <h5>idea id</h5><input type="number" name="ideaid"><br>
    <textarea type="text" name="description"></textarea>
    <h5>Upvotes</h5><input type="number" name="upvotes"><br>
    <button type="submit">Submit</button>
</form>
<%- include('./footer') -%>

