
<%- include('./dash') -%>
<form method="POST">
    <label name="idescription"></label>
    <textarea name="idescription"></textarea>
    <button type="submit">Post</button>
</form>

<%- include('./footer') -%>