<%- include('./dash') -%>

<form method="POST">
    <h5>Enter yout Idea</h5>
    <textarea type="text" name="description"></textarea>
    <button type="submit">Submit</button>
</form>
<%- include('./footer') -%>

