<%- include('./dash') -%>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subjects</h4>
                <div class="card-content">
                    <div class="nestable">
                        <div class="dd" id="nestable">
                            <ol class="dd-list">
                              <li class="dd-item" data-id="2">
                                  <div class="dd-handle">Data Structures</div>
                                  <ol class="dd-list">
                                    <li class="dd-item" data-id="5">
                                      <li class="dd-item" data-id="5">
                                          <div class="dd-handle">Introduction</div>
                                          <ol class="dd-list">
                                              <li class="dd-item" data-id="6">
                                                  <div class="dd-handle">Basic Terminology</div>
                                              </li>
                                              <li class="dd-item" data-id="7">
                                                  <div class="dd-handle">Data Structures and types</div>
                                              </li>
                                              <li class="dd-item" data-id="8">
                                                  <div class="dd-handle">Asymptotic Notations</div>
                                              </li>
                                          </ol>
                                      </li>
                                      <li class="dd-item" data-id="5">
                                        <div class="dd-handle">Arrays</div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="6">
                                                <div class="dd-handle">Traversal ,insertion, Deletion</div>
                                            </li>
                                            <li class="dd-item" data-id="7">
                                                <div class="dd-handle">Linear and Binary Search</div>
                                            </li>
                                            <li class="dd-item" data-id="8">
                                                <div class="dd-handle">Sorting:Bbubble and its complexity</div>
                                            </li>
                                        </ol>

                                    </li>
                                      <li class="dd-item" data-id="5">
                                          <div class="dd-handle">Linked List</div>
                                          <ol class="dd-list">
                                              <li class="dd-item" data-id="6">
                                                  <div class="dd-handle">Singly Linked List</div>
                                              </li>
                                              <li class="dd-item" data-id="7">
                                                  <div class="dd-handle">Doubly Linked List</div>
                                              </li>
                                              <li class="dd-item" data-id="8">
                                                  <div class="dd-handle">Circular Linked List</div>
                                              </li>
                                          </ol>
                                      </li>
                                      <li class="dd-item" data-id="5">
                                          <div class="dd-handle">Queues</div>
                                          <ol class="dd-list">
                                              <li class="dd-item" data-id="6">
                                                  <div class="dd-handle"></div>
                                              </li>
                                              <li class="dd-item" data-id="7">
                                                  <div class="dd-handle">Item 7</div>
                                              </li>
                                              <li class="dd-item" data-id="8">
                                                  <div class="dd-handle">Item 8</div>
                                              </li>
                                          </ol>
                                      </li>
                                  </ol>

                                    <div class="dd-handle">Java</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="3">
                                            <div class="dd-handle">Item 3</div>
                                        </li>
                                        <li class="dd-item" data-id="4">
                                            <div class="dd-handle">Item 4</div>
                                        </li>

                                        <li class="dd-item" data-id="9">
                                            <div class="dd-handle">Item 9</div>
                                        </li>
                                        <li class="dd-item" data-id="10">
                                            <div class="dd-handle">Item 10</div>
                                        </li>
                                    </ol>

                                        <div class="dd-handle">ADBMS</div>
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="3">
                                                <div class="dd-handle">Item 3</div>
                                            </li>
                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">Item 4</div>
                                            </li>

                                            <li class="dd-item" data-id="9">
                                                <div class="dd-handle">Item 9</div>
                                            </li>
                                            <li class="dd-item" data-id="10">
                                                <div class="dd-handle">Item 10</div>
                                            </li>
                                        </ol>
                                        <li class="dd-item" data-id="2">
                                            <div class="dd-handle">Mean Stack</div>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./footer') -%>