<%- include('./dash') -%>

<form method="POST">
        <label name ="qsubjectId"></label>
        <h5>Subject ID</h5>
        <input type="text" name="qsubjectId">

        <label name ="qtitle"></label>
        <h5>Topic:</h5>
        <input type="text" name="qtitle">

        <label name ="qdescription"></label>
        <h5>Question:</h5>
        <input type="text" name="qdescription">

        <button type="submit">Submit</button>
</form>

<%- include('./footer') -%>