<%- include('./dash') -%>

<div class="content">

    <!-- First subject card -->
    <article class="card card-cascade wider">
      <section class="view gradient-card-header purple-gradient overlay d-flex align-items-center justify-content-center pt-2 pb-2">
        <img src="" class="rounded-circle" alt="" height="60px" width="60px">
        <h4 class="card-header">Doubts</h4>
      </section>

      <section class="card-body">
        <!-- First card deck -->
        <section class="card-deck">
          <section class="card">
            <section class="view overlay p-3 text-center">
              <h6 class="indigo-text darken-4">
                <i class="fas fa-sticky-note"></i>
                Ask Subject Question
              </h6>
              <p class="card-text">Issues regarding Subjects</p>
              <a href ="/student/feedback/subject"  class="btn btn-indigo" role="button" target="_blank">Write</a>
            </section>
          </section>
          <section class="card">
            <section class="view overlay p-3 text-center">
              <h6 class="indigo-text darken-4">
                <i class="fas fa-sticky-note"></i>
                Counseling
              </h6>
              <p class="card-text">Counseling by specialist</p>
              <a class="btn btn-indigo" role="button" target="_blank">Write</a>
            </section>
          </section>
        </section>
      </section>
    </article>
</div>

<%- include('./footer') -%>

