<%- include('./dash') -%>
<form method="POST">
    <h5>Enter Subject Id</h5><label for="subjectId"></label>
    <input name="subjectId" type="text">
    <h5>Enter Topic Name</h5><label for="topic"></label>
    <input name="topic" type="text">
    <h5>Enter Question description</h5><label name="description"></label>
    <input name="description">
    <button type="submit">Ask</button>
</form>

<%- include('./footer') -%>