<%- include('./dash') -%>

<table>
        <% for(var i=0; i < data.length; i++) { %>
    <tr>
     <td><%= data[i].description %></td>
     <td><%= data[i].date %></td>
    </tr>
    <% } %>
    </table>
<%- include('./footer') -%>