<%- include('./dash') -%>


<h1>Response Post will Be written Here</h1>
<form method="POST">
    <h6>Enter Email of studemt</h6><br>
    <label for="email"></label>
    <input type="text" name="email">

    <!-- here u can create dropdown -->
    <h6>Enter Mini Resposne</h6><br>
    <label for="status"></label>
    <input type="text" name="status">

    <h6>Enter Response Text</h6><br>
    <label for="rtext"></label>
    <input type="text" name="rtext">

    <button type="submit">Submit</button>
</form>

<%- include('./footer') -%>