<<%- include('./dash') -%>


<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard-Data Structures-Course Coordinator</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-primary p-20">
                    <div class="media widget-ten">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-bag f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white">value x</h2>
                            <p class="m-b-0">New Posted Questions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-pink p-20">
                    <div class="media widget-ten">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-comment f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white">Value y</h2>
                            <p class="m-b-0">Open Forum Questions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success p-20">
                    <div class="media widget-ten">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-vector f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white">Value z</h2>
                            <p class="m-b-0">Present Answered Questions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger p-20">
                    <div class="media widget-ten">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-location-pin f-s-40"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 class="color-white">Value w</h2>
                            <p class="m-b-0">UnAnswered Questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background-color:powderblue">
            <div class="col-lg-6">
                <div class="card" style="width:1050px">
                    <div  style="width:600px">
                        <h4>Data Structures No-Gap Graph</h4>
                    </div>
                    <div >
                        <div  style="height:350px">
                        Graph here of no of students v/s subject </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

                </div>

            <!-- /# column -->
        </div>
        <!-- /# row -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Row grouping </h4>
                <h6 class="card-subtitle">Topics To Assign</h6>
                <div class="table-responsive m-t-40">
                    <table id="example" class="table display table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Topic Name</th>
                                <th>No. Of Students</th>
                                <th>Assign Date</th>
                                <th>Total Doubts</th>
                                <th>Assign Task</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                              <th>Topic Name</th>
                              <th>No. Of Students</th>
                              <th>Assign Date</th>
                              <th>Total Doubts</th>
                              <th>Assign Task</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Linked List</td>
                                <td>78</td>
                                <td>Todays date</td>
                                <td>63</td>
                                <td><button>Assign<button></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Message </h4>
                        </div>
                        <div class="recent-comment">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">john doe</h4>
                                    <p> </p>
                                    <p class="comment-date">October 21, 2018</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">john doe</h4>
                                    <p> </p>
                                    <p class="comment-date">October 21, 2018</p>
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">john doe</h4>
                                    <p></p>
                                    <p class="comment-date">October 21, 2018</p>
                                </div>
                            </div>

                            <div class="media no-border">
                                <div class="media-left">
                                    <a href="#"><img alt="..." src="images/avatar/1.jpg" class="media-object"></a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Mr. Michael</h4>
                                    <p> </p>
                                    <div class="comment-date">October 21, 2018</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
          <h2>Calender</h2>
                            <div class="year-calendar"></div>
                        </div>
                    </div>
                </div>


                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Todo</h4>
                        <div class="card-content">
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="tdl-content">
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i class="bg-primary"></i><span>Build an angular app</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i class="bg-success"></i><span>Creating component page</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i class="bg-warning"></i><span>Follow back those who follow you</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i class="bg-danger"></i><span>Design One page theme</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i class="bg-success"></i><span>Creating component page</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" class="tdl-new form-control" placeholder="Type here">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>




<%- include('./footer') -%>