<%- include('./dash') -%>
<div class="page-wrapper">
<div class="col-md-6">
       <div class="card">
           <div class="card-body p-b-0">
               <h4 class="card-title">Problems</h4>
               <!-- Nav tabs -->
              
                   <div class="tab-pane  p-20" id="profile2" role="tabpanel">
                       <div class="card">
                           <div class="card-title">
                

                           </div>
                           <div class="card-body">
                               <div class="table-responsive">
                                   <table class="table table-striped">
                                       <thead>
                                           <tr>
                                               <th>#</th>
                                               <th>Name</th>
                                               <th>Status</th>
                                               <th>Date</th>
                                               <th>Votes</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr>
                                               <th scope="row">1</th>
                                               <td>Kolor Tea Shirt For Man</td>
                                               <td><span class="badge badge-primary">Processing</span></td>
                                               <td>January 22</td>
                                               <td class="color-primary">56</td>
                                           </tr>
                                           <tr>
                                               <th scope="row">2</th>
                                               <td>Kolor Tea Shirt For Women</td>
                                               <td><span class="badge badge-success">Pass</span></td>
                                               <td>January 30</td>
                                               <td class="color-success">32</td>
                                           </tr>
                                           <tr>
                                               <th scope="row">3</th>
                                               <td>Blue Backpack For Baby</td>
                                               <td><span class="badge badge-danger">Declined</span></td>
                                               <td>January 25</td>
                                               <td class="color-danger">5</td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="tab-pane p-20" id="messages2" role="tabpanel">
                       <div class="card">
                           <div class="card-title">
                          

                           </div>
                           <div class="card-body">
                               <div class="table-responsive">
                                   <table class="table table-striped">
                                       <thead>
                                           <tr>
                                               <th>#</th>
                                               <th>Name</th>
                                               <th>Status</th>
                                               <th>Date</th>
                                               <th>Votes</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr>
                                               <th scope="row">1</th>
                                               <td>Kolor Tea Shirt For Man</td>
                                               <td><span class="badge badge-primary">Processing</span></td>
                                               <td>January 22</td>
                                               <td class="color-primary">200</td>
                                           </tr>
                                           <tr>
                                               <th scope="row">2</th>
                                               <td>Kolor Tea Shirt For Women</td>
                                               <td><span class="badge badge-success">Pass</span></td>
                                               <td>January 30</td>
                                               <td class="color-success">32</td>
                                           </tr>
                                           <tr>
                                               <th scope="row">3</th>
                                               <td>Blue Backpack For Baby</td>
                                               <td><span class="badge badge-danger">Declined</span></td>
                                               <td>January 25</td>
                                               <td class="color-danger">5</td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<%- include('./footer') -%>

