<%- include('./dash') -%>

<form method="POST">
<h6>Enter Reciever Info:</h6><br>
<label for="email"></label>
<input type="text" name="email">

<h6>Enter Text</h6><br>
<label for="etext"></label>
<input type="text" name="etext">

<button type="submit">Send Email</button>
</form>

<%- include('./footer') -%>